#sessionMixedText {
    fill: "fb-blue";
}

#sessionControlButton {
    fill: "fb-blue";
    x: 0;
    y: 70%;
}

#clock {
    x: "100%-8";
    y: "30";
    font-family: "System-Regular";
    fill: "#F5F5F5";
    text-length: 5;
    text-anchor: "end";
    font-size: "30";
    font-weight: "bold";
}