#sessionMixedText {
    fill: "fb-mint";
}

#sessionControlButton {
    fill: "fb-mint";
    x: 0;
    y: 70%;
}

#clock {
    x: "100%-8";
    y: "30";
    font-family: "System-Regular";
    fill: "#EAEAEA";
    text-length: 5;
    text-anchor: "end";
    font-size: "28";
    font-weight: "bold";
}